// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//pc
body{
    margin:0 auto;
    background-color:black;
}
header{
    height:130px;
    margin:0 100px;
}
.navimenu li{
    display:inline-block;
}